/* 
    Document   : index.css
    Created on : Apr 1, 2014, 5:23:03 PM
    Author     : oxymo
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

a:hover {
    background		: #ffffff;	/*необходимо для IE6*/
    text-decoration	: none;
}
a.icon-tooltip span {
    display			: none;
    padding			: 2px 3px;
    width			: 220px;
}
a.icon-tooltip:hover span {
    display			: block;
    position		: absolute;
    right: 25px;
    text-align:center;
    background		: #ffffff;
    border			: 1px solid #cccccc;
    color			: #6c6c6c;
}

.grayedText {
    color: #a9a9a9;
}
.ol-popup-content {
    clear: left;
}
.object-list-row-hidden {
    display: none;
}
.object-list-row-visible {
    display: table-row;
}
.object-list-button {
    cursor: pointer;
}
.object-list-button-disabled {
    cursor: default;
}
.object-list-name-text {
    position: relative; top: -4px; padding-left: 5px;
}
.parking-list-row-highlight .x-grid-cell .x-grid-cell-inner {
    background-color: #2184e6;
}
.report-fastdate-panel {
    text-align: center;
}
.report-fastdate-button, .report-fastdate-button:hover {
    background: none; display: inline-block;
}
.report-fastdate-button .x-btn-default-small, .report-fastdate-button .x-btn-default-small:hover {
    background: none;
}
.report-fastdate-button span.x-btn-inner {
    cursor: pointer; text-decoration: underline; font-size: 11px; line-height: 13px; color: #000; padding: 0;
}
.report-toolbar-menu-item-selected div.x-menu-item-icon {
    background-color: black; border-radius: 4px; width:8px; height: 8px; margin: 4px;
}
.object-images-thumb, .object-images-arrows-list .x-boundlist-item {
    line-height: 2px; float: left; margin: 0 4px 4px 0; padding: 2px; text-align: center; border: 1px solid #fff; -webkit-border-radius: 3px; moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
}
.object-images-thumb img {
    border: 0; margin: auto;
}
.object-images-current {
    line-height: 2px; margin: 0; padding: 2px; text-align: center; border: 1px solid #b5b8c8; -webkit-border-radius: 3px; moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
}
.object-images-current img {
    border: 0; margin: auto;
}
.object-images .x-item-over, .object-images-arrows-list .x-boundlist-item-over {
    border:1px solid #bbbbbb; /*background: #f3f3f3 url('extjs-4.2.1/resources/themes/images/gray/grid/row-over.gif') repeat-x left top;*/
    background-image: none;
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e9e9e9));
    background-image: -webkit-linear-gradient(top, #fbfbfb, #e9e9e9);
    background-image: -moz-linear-gradient(top, #fbfbfb, #e9e9e9);
    background-image: -o-linear-gradient(top, #fbfbfb, #e9e9e9);
    background-image: -ms-linear-gradient(top, #fbfbfb, #e9e9e9);
    background-image: linear-gradient(top, #fbfbfb, #e9e9e9);
}
.object-images .x-item-selected, .object-images-arrows-list .x-boundlist-selected {
    border:1px solid #9d9d9d; /*background: #d6d6d6 url('extjs-4.2.1/resources/themes/images/gray/grid/row-sel.gif') repeat-x left top;*/
    background-image: none;
    background-color: #d6d6d6;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c7c7c7), color-stop(100%, #e0e0e0));
    background-image: -webkit-linear-gradient(top, #c7c7c7, #e0e0e0);
    background-image: -moz-linear-gradient(top, #c7c7c7, #e0e0e0);
    background-image: -o-linear-gradient(top, #c7c7c7, #e0e0e0);
    background-image: -ms-linear-gradient(top, #c7c7c7, #e0e0e0);
    background-image: linear-gradient(top, #c7c7c7, #e0e0e0);
}
.object-images .x-item-selected .object-images-thumb {
    background:transparent;
}
.object-images-arrows-list {
    padding: 2px;
}
.object-images-arrows-list .x-boundlist-item {
    margin: 0 2px 2px 0; line-height: 12px;
}
.object-images-arrows-list .x-boundlist-item img {
    border: 0; width: 18px; height: 18px; margin: auto;
}
.object-images-arrows-list-output {
    max-width: 48px; text-align: center;
}
.object-images-arrows-list-output div {
    line-height: 12px; border:1px solid #b5b8c8; -webkit-border-radius: 3px 0px 0px 0px; moz-border-radius: 3px 0px 0px 0px; -ms-border-radius: 3px 0px 0px 0px; -o-border-radius: 3px 0px 0px 0px; border-radius: 3px 0px 0px 0px;
}
.object-images-arrows-list-output div img {
    width: 20px; height: 20px; margin: 1px 2px;
}
.object-images-arrows-trigger {
    height: 25px;
}
.nested-grid .x-grid-with-row-lines .x-grid-td {
  border-bottom-width: 1px;
}
.nested-grid .x-grid-with-row-lines .x-grid-table {
  border-top: 1px solid white;
}
.nested-grid .x-grid-with-row-lines .x-grid-table-over-first {
  border-top-style: solid;
  border-top-color: #dddddd;
}
.nested-grid .x-grid-with-row-lines .x-grid-table-selected-first {
  border-top-style: dotted;
  border-top-color: #bfb8b8;
}
.nested-grid .x-grid-row-before-over .x-grid-td {
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
}
.nested-grid .x-grid-row-before-focused .x-grid-td {
  border-bottom-style: dotted;
  border-bottom-color: #464646;
  border-bottom-width: 1px;
}
.nested-grid .x-grid-row-before-selected .x-grid-td {
  border-bottom-style: dotted;
  border-bottom-color: #bfb8b8;
}
.nested-grid .x-grid-row-over .x-grid-td {
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  background-color: #efefef;
}
.nested-grid .x-grid-row-focused .x-grid-td {
  background-color: #efefef;
  border-bottom-style: dotted;
  border-bottom-color: #464646;
  border-bottom-width: 1px;
}
.nested-grid .x-grid-row-selected .x-grid-td {
  border-bottom-style: dotted;
  border-bottom-color: #bfb8b8;
  background-color: #e0e0e0;
}
.nested-grid .x-grid-cell-inner {
  border-bottom: 1px solid #ededed;
}
.nested-grid .x-grid-row-over .x-grid-cell-inner,
.nested-grid .x-grid-row-focused .x-grid-cell-inner {
  border-bottom: 0;
}
.nested-grid .x-grid-row-before-over .x-grid-cell-inner,
.nested-grid .x-grid-row-before-focused .x-grid-cell-inner {
  border-bottom: 0;
}
.field-hint-subtext div {
    color: #666666; font-size: 0.8em;
}
.subscription-fee-grid .x-grid-rowbody {
    padding: 0;
}
.subscription-fee-grid .x-grid-rowbody .x-panel-body {
    border-top: 0;
}
.subscription-fee-grid-nested {
    width: 100%; border: 0;
}
.subscription-fee-grid-nested td {
    padding: 2px 6px; text-indent: 4px;
}

/**************************/
/* CSS for mobile version */
/**************************/
.mobile-version div.x-date-picker {
    font-size: 1.4em; line-height: 1.5;
}
.mobile-version div.x-datepicker-header span.x-btn-inner {
    font-size: 1.4em; line-height: 18px;
}
.mobile-version div.x-datepicker-header span.x-btn-button {
    height: 24px;
}
.mobile-version th.x-datepicker-column-header-inner {
    font-size: 1.2em; line-height: 24px;
}
.mobile-version a.x-datepicker-date {
    font-size: 1.4em; line-height: 24px;
}
.mobile-grid-panel div.x-grid-header-ct div.x-column-header {
    font-size: 1.4em; line-height: 1.5;
}
.mobile-panel-toolbar td.x-field-label-cell label.x-form-item-label {
    font-size: 1.4em; line-height: 1.5;
}
.mobile-panel-toolbar td.x-form-item-body input.x-form-field {
    font-size: 1.4em; min-height: 36px; line-height: 1.5;
}
.mobile-panel-toolbar td.x-form-item-body td.x-form-trigger-input-cell input.x-form-field {
    background: url('images/ico32_downcrc.png') right center #fff no-repeat;
}
.mobile-panel-toolbar td.x-form-item-body.x-pickerfield-open td.x-form-trigger-input-cell input.x-form-field {
    background: url('images/ico32_upcrc.png') right center #fff no-repeat;
}
.mobile-object-list-row td.x-grid-cell div.x-grid-cell-inner {
    font-size: 1.4em; min-height: 32px; line-height: 1.5;
}
.mobile-object-list-row td.x-action-col-cell div.x-grid-cell-inner-action-col img.x-action-col-icon {
    width: 32px; height: 32px;
}
.x-action-col-cell img.object-icon-move {
  background-image: url(images/ico32_move.png);
}
.x-action-col-cell img.object-icon-move-outdated {
  background-image: url(images/ico32_move_old.png);
}
.x-action-col-cell img.object-icon-stop {
  background-image: url(images/ico32_stop.png);
}
.x-action-col-cell img.object-icon-stop-outdated {
  background-image: url(images/ico32_stop_old.png);
}
.x-action-col-cell img.object-icon-satellite-hgrn {
  background-image: url(images/ico32_sathgrn.png);
}
.x-action-col-cell img.object-icon-satellite-lgrn {
  background-image: url(images/ico32_satlgrn.png);
}
.x-action-col-cell img.object-icon-satellite-hred {
  background-image: url(images/ico32_sathred.png);
}
.x-action-col-cell img.object-icon-satellite-lred {
  background-image: url(images/ico32_satlred.png);
}
.x-action-col-cell img.object-icon-satellite-hyel {
  background-image: url(images/ico32_sathyel.png);
}
.x-action-col-cell img.object-icon-satellite-lyel {
  background-image: url(images/ico32_satlyel.png);
}
.x-action-col-cell img.object-icon-locked {
  background-image: url(images/ico32_lock.png);
}
.x-action-col-cell img.object-icon-unlocked {
  background-image: url(images/ico32_unlock.png);
}
.x-action-col-cell img.object-icon-locking-progress {
  background-image: url(images/ico32_locking.png);
}
.mobile-object-list-row-hidden {
    color: #a9a9a9;
}
.mobile-toolbar-button span.x-btn-button span.x-btn-inner {
    font-size: 1.4em; line-height: 1.5; padding-top: 5px;
}
.mobile-toolbar-combo-picker div.x-boundlist-list-ct li.x-boundlist-item {
    font-size: 1.4em; line-height: 1.5;
}
span.mobile-toolbar-button-small {
    background-position: center top; margin: auto;
}
img.mobile-logo {
    position: relative; top: 2px; height: 32px;
}
.mobile-message-box div.x-form-display-field {
    font-size: 1.4em; line-height: 1.5; padding: 8px;
}

.dygraph-legend {
    background: rgba( 255, 255, 255, 0.5)  !important;
}

.payment-div {
    display:table;
}
.payment-div img{
    height:20px;
}
.payment-div span {
    vertical-align:middle;
    display:table-cell;
    padding-left: 5px;
    /*font-weight: bolder;*/
}